# Exploración

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import re

In [2]:
data_brute = pd.read_csv("C:/Users/win10 uefi/Documents/Proyecto_PrediccionCasas/scraping_casas.csv",sep=";")
data_brute

,referencia,titulo_anuncio,estado_casa,ubicacion,año_construccion,nro_habitaciones,nro_baño,m2_terreno,nro_plantas,m2_edificados,nro_garajes,precio_venta
0,E457CA,En venta casa de Lujo en Las Palmas,Excelente estado,"Las Palmas, Las palmas, Santa Cruz",¡Preguntale!,4,3,600 m2,1,650 m2,2,U$S 850.000
1,Q67923,CASA EN VENTA EN LAS PALMAS,Excelente estado,ENTRE 3ER Y 4TO ANILLO C/ BAHIA CACERES Y CAPA...,¡Preguntale!,4,3,726 m2,1,¡Preguntale!,2,U$S 685.000
2,WC49A9,"CASA EN VENTA, IRPAVI",Buen estado,"CALLE 18 Y OVANDO, Irpavi, La Paz",¡Preguntale!,3,3,643 m2,1,643 m2,3,U$S 449.000
3,Z7FD7E,Casa en venta sobre Av. Canal Isuto,Excelente estado,"sobre Av. Canal Isuto entre 4to y 5to anillo, ...",¡Preguntale!,5,2,194 m2,1,194 m2,¡Preguntale!,U$S 139.000
4,OF956B,"casa a estrenar, 4 dormitorios, Condominio Los...",A estrenar,"condominio Los parques 3, Urubó, Santa Cruz",¡Preguntale!,4,3,158 m2,2,158 m2,1,U$S 149.000
...,...,...,...,...,...,...,...,...,...,...,...,...
1044,"1,70E+59","Urbanización San Jorge, haz tu reserva ya con ...",A estrenar,avenida G-77 y Beni a la altura del noveno ani...,2018,3,2,258 m2,1,110 m2,2,U$S 67.500
1045,50F5F,Casa No. 35 En Venta Condominio Dalí El Remans...,Buen estado,Ingreso por el Remanso . Condominio Los Pintor...,2012,3,3,250 m2,1,150 m2,2,U$S 115.000
1046,A69AD,"Casa Condominio Dalí, 3 dorm.,a/c, área social...",Excelente estado,"casa nro 35 Condominio Dalí. cel *** , Remanso...",2014,3,3,250 m2,1,150 m2,2,U$S 115.000
1047,7BC18,Casa equipada,Excelente estado,"Sur, Santa Cruz",¡Preguntale!,4,3,300 m2,1,165 m2,¡Preguntale!,U$S 108.000
1048,cE423,Casa zona URUBO trejo 1.100 Mts2 135.000 $us.,Buen estado,"Urubó, Santa Cruz",¡Preguntale!,3,2,1.100 m2,¡Preguntale!,300 m2,¡Preguntale!,U$S 135.000

In [3]:
#Datos no nulos
data_brute.info()

print()#Valores unicos
data_brute.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   referencia        1049 non-null   object
 1   titulo_anuncio    1049 non-null   object
 2   estado_casa       1049 non-null   object
 3   ubicacion         1049 non-null   object
 4   año_construccion  1049 non-null   object
 5   nro_habitaciones  1049 non-null   object
 6   nro_baño          1049 non-null   object
 7   m2_terreno        1049 non-null   object
 8   nro_plantas       1049 non-null   object
 9   m2_edificados     1049 non-null   object
 10  nro_garajes       1049 non-null   object
 11  precio_venta      1049 non-null   object
dtypes: object(12)
memory usage: 98.5+ KB

,referencia,titulo_anuncio,estado_casa,ubicacion,año_construccion,nro_habitaciones,nro_baño,m2_terreno,nro_plantas,m2_edificados,nro_garajes,precio_venta
count,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049
unique,1009,961,9,831,58,7,6,394,5,366,7,348
top,None,CASA EN VENTA,Excelente estado,"Norte, Santa Cruz",¡Preguntale!,3,3,300 m2,2,120 m2,2,U$S 120.000
freq,7,10,423,34,339,505,733,80,482,25,500,22

# Evaluacion de las variables

In [4]:
#Verificamos la variable referencia

referencias = data_brute.groupby(['referencia'])['referencia'].count()
referencias[referencias>0]

referencia
1,70E+59    1
11DDF       1
12FB3       1
14C65       1
152B9       1
           ..
cE423       1
d667D       1
e600B       1
f435C       2
fFA51       1
Name: referencia, Length: 1009, dtype: int64

In [5]:
#Hay datos duplicados y nulos (None)

#Borramos los nulos
df1 = data_brute.copy()
df1 = df1[~df1.referencia.str.startswith("None")]

#Colocando los valores reales
df1.referencia = df1.referencia.replace({"5,9E+93":'59E92'})
df1.referencia = df1.referencia.replace({"4,95E+07":'495E5'})
df1.referencia = df1.referencia.replace({"4,10E+55":'41E54'})
df1.referencia = df1.referencia.replace({"6,40E+28":'64E27'})
df1.referencia = df1.referencia.replace({"9,50E+86":'95E85'})
df1.referencia = df1.referencia.replace({"2,07E+03":'207E1'})
df1.referencia = df1.referencia.replace({"1,70E+59":'17E58'})


#Borramos las filas duplicadas
df1.drop_duplicates(keep='first', inplace=True)
#Borramos las filas que solo registraron valores nulos
df1 = df1[~(df1.referencia.str.contains("73AC6") & df1.nro_habitaciones.str.startswith("None") )] #Valor unico que necesita removerse de forma manual por tener un campo diferente
df1.reset_index(inplace=True)
df1.describe(include='all')

,index,referencia,titulo_anuncio,estado_casa,ubicacion,año_construccion,nro_habitaciones,nro_baño,m2_terreno,nro_plantas,m2_edificados,nro_garajes,precio_venta
count,1008.000000,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008
unique,NaN,1008,961,8,830,58,7,5,393,4,365,6,347
top,NaN,E457CA,CASA EN VENTA,Excelente estado,"Norte, Santa Cruz",¡Preguntale!,3,3,300 m2,2,120 m2,2,U$S 120.000
freq,NaN,1,10,410,33,322,485,709,77,466,23,479,22
mean,511.440476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,299.450063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,253.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,506.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,761.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1048.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Verificamos la variable estado_casa
estados = df1.groupby(['estado_casa'])['estado_casa'].count()
estados[estados>0]

estado_casa
A estrenar                302
A reciclar                  3
Buen estado               221
En construcción            29
Excelente estado          410
Reciclada                   1
Requiere mantenimiento     19
Sin Definir                23
Name: estado_casa, dtype: int64

In [7]:
#Verificamos la variable ubicacion
ubicaciones= df1.groupby(['ubicacion'])['ubicacion'].count()
ubicaciones[ubicaciones>2]

ubicacion
4to anillo y avenida Cristo Redentor, Norte, Santa Cruz                          3
Centro, Santa Cruz                                                               3
Ciudad Satélite, El alto                                                         3
Cochabamba, Cochabamba                                                           6
Doble via la guardia, Santa Cruz                                                 4
Este, Santa Cruz                                                                16
G77, Norte, Santa Cruz                                                           3
Km 8 y medio entre Av. G77 y Avenida Internacional, Norte, Santa Cruz            5
NORTE, Norte, Santa Cruz                                                         4
Norte, Santa Cruz                                                               33
Octavo anillo entre Av. Virgen de Cotoca y Av. Montecristo, Este, Santa Cruz     3
Oeste, Santa Cruz                                                                4
Pacata, Cochabamba                                                               3
Remanso, Santa Cruz                                                             11
Sacaba, Cochabamba                                                               6
Sur, Santa Cruz                                                                 19
Tiquipaya, Cochabamba                                                            5
Urb. Privada, Achumani, La Paz                                                   3
Urubó, Santa Cruz                                                               12
condominio Santa Cruz de la Colina, Urubó, Santa Cruz                            4
urubo, Urubó, Santa Cruz                                                         7
zona sur, Sur, Santa Cruz                                                        3
Name: ubicacion, dtype: int64

In [8]:
#Separamos de la columna ubicacion la ultima parte donde se encuentra generalmente el departamento
#lo agregamos como una nueva columna
df2 = df1.copy()
departamentos =[]
cadenas= df2['ubicacion'].str.split(",")
for i in range((len(cadenas))):
    departamentos.append((cadenas[i][-1]).strip())
df2.insert(4, "departamento",value=departamentos , allow_duplicates=False)
df2.head(3)

,index,referencia,titulo_anuncio,estado_casa,departamento,ubicacion,año_construccion,nro_habitaciones,nro_baño,m2_terreno,nro_plantas,m2_edificados,nro_garajes,precio_venta
0,0,E457CA,En venta casa de Lujo en Las Palmas,Excelente estado,Santa Cruz,"Las Palmas, Las palmas, Santa Cruz",¡Preguntale!,4,3,600 m2,1,650 m2,2,U$S 850.000
1,1,Q67923,CASA EN VENTA EN LAS PALMAS,Excelente estado,Santa Cruz,ENTRE 3ER Y 4TO ANILLO C/ BAHIA CACERES Y CAPA...,¡Preguntale!,4,3,726 m2,1,¡Preguntale!,2,U$S 685.000
2,2,WC49A9,"CASA EN VENTA, IRPAVI",Buen estado,La Paz,"CALLE 18 Y OVANDO, Irpavi, La Paz",¡Preguntale!,3,3,643 m2,1,643 m2,3,U$S 449.000

In [9]:
#Cambiamos la "," por "_" para evitar problemas en la lectura del csv a futuro
df2['ubicacion']=df2['ubicacion'].str.replace(',','_')
#Verificamos la columna departamento
df2.groupby(['departamento'])['departamento'].count()

departamento
Cobija          1
Cochabamba     80
Cotoca          1
El alto        11
La Guardia      1
La Paz         68
Porongo         1
Riberalta       1
Santa Cruz    836
Sucre           4
Tarija          3
Warnes          1
Name: departamento, dtype: int64

In [10]:
#Reemplazamos los valores que no corresponden al eje central a estos si estan relacionados
df3 = df2.copy()
df3['departamento']=df3['departamento'].replace({"Porongo":'Santa Cruz',
"Cotoca":'Santa Cruz',
"La Guardia":'Santa Cruz',
"Warnes":'Santa Cruz',
"El alto":'La Paz',
"Cobija":'Otro',
"Riberalta":'Otro',
"Sucre":'Otro',
"Tarija":'Otro'
})
df3.groupby(['departamento'])['departamento'].count()

departamento
Cochabamba     80
La Paz         79
Otro            9
Santa Cruz    840
Name: departamento, dtype: int64

In [11]:

#Verificamos la variable año_de construccion
df3.groupby(['año_construccion'])['año_construccion'].count()

año_construccion
1                            9
10                           7
10 AÑOS                      1
10 años                      1
12                           1
15                           3
1970                         1
1975                         1
1978                         1
1980                         2
1984                         1
1988                         1
1990                         5
1991                         1
1993                         1
1994                         1
1995                         6
1997                         3
1998                         3
2                            5
2 años                       1
2.014                        1
2.017                        1
2000                        14
2001                         1
2002                         7
2003                         2
2005                        16
2006                         4
2007                         5
2008                         4
2009                         4
2010                        31
2011                         6
2012                        19
2013                        13
2014                        20
2015                        46
2016                        28
2017                        39
2018                        63
2018 /3 meses atras          1
2019                        34
2020                        42
2021                        49
2022                       137
2023                        18
3                            3
4                            3
5                            6
6                            2
8                            2
CASA EN VENTA, ACHUMANI      1
NUEVA                        2
PRE VENTA                    1
PRE VENTAS                   1
a estrenar                   5
¡Preguntale!               322
Name: año_construccion, dtype: int64

In [34]:
#Al haber datos que no se relacionan con la variable, se procede a limpiarlo
df4 = df3.copy()
#Para los casos que tienen puntos se remueven estos
df4['año_construccion']=df4['año_construccion'].str.replace('.','',regex=True)

#Creamos una funcion aplicnado expresiones regulares que identifique los valores con numeros y aparte los que contengan letras 
def limpiar_año(x):
    if re.search(r'^[0-9\s]+',x):
        return re.search(r'^[0-9\s]+',x).group()
    else:    
        if re.search(r'^[¡!,a-zA-Z\s]+', x):
            return "NaN"
#Validamos para todos los casos el resultado
print(limpiar_año("5"))
print(limpiar_año("10 años"))
print(limpiar_año("10 AÑOS "))
print(limpiar_año("2022"))
print(limpiar_año("2 años"))
print(limpiar_año("NUEVA"))
print(limpiar_año("PRE VENTAS "))
print(limpiar_año("PREVENTAS "))
print(limpiar_año("2018 /3 meses atras"))
print(limpiar_año("CASA EN VENTA, ACHUMANI"))
print(limpiar_año("¡Preguntale!"))
print(limpiar_año("#"))

5
10
10
2022
2
NaN
NaN
NaN
2018
NaN
NaN
None

In [13]:
#Al haber logrado que la funcion limpie los datos que no corresponden para todos los casos, se procede a limpiar la columna
df4["año_construccion"] = df4["año_construccion"].apply(limpiar_año)
df4.groupby(['año_construccion'])['año_construccion'].count()

año_construccion
1          9
10         7
10         2
12         1
15         3
1970       1
1975       1
1978       1
1980       2
1984       1
1988       1
1990       5
1991       1
1993       1
1994       1
1995       6
1997       3
1998       3
2          5
2          1
2000      14
2001       1
2002       7
2003       2
2005      16
2006       4
2007       5
2008       4
2009       4
2010      31
2011       6
2012      19
2013      13
2014      21
2015      46
2016      28
2017      40
2018      63
2018       1
2019      34
2020      42
2021      49
2022     137
2023      18
3          3
4          3
5          6
6          2
8          2
NaN      332
Name: año_construccion, dtype: int64

In [15]:
#Al tener la columna año_construccion que contiene el año de construccion como la antiguedad 
#se procede a generar una nueva columna que solo contenga la antiguedad

def obtener_antiguedad(x):
    try:
        if x > 1900:
            return 2023-x
        else:
            return x
    except:
        return float("NaN")
              
df5 =df4.copy()
df5["año_construccion"]=df5["año_construccion"].astype("float")
df5["antiguedad"] = df5["año_construccion"].apply(obtener_antiguedad)
df5.groupby(['antiguedad'])['antiguedad'].count()

antiguedad
0.0      18
1.0     146
2.0      55
3.0      45
4.0      37
5.0      70
6.0      42
7.0      28
8.0      48
9.0      21
10.0     22
11.0     19
12.0      7
13.0     31
14.0      4
15.0      7
16.0      5
17.0      4
18.0     16
20.0      2
21.0      7
22.0      1
23.0     14
25.0      3
26.0      3
28.0      6
29.0      1
30.0      1
32.0      1
33.0      5
35.0      1
39.0      1
43.0      2
45.0      1
48.0      1
53.0      1
Name: antiguedad, dtype: int64

In [16]:
#Eliminamos la columna años
df5.drop("año_construccion",axis=1,inplace=True)
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             1008 non-null   int64
 1   referencia        1008 non-null   object
 2   titulo_anuncio    1008 non-null   object
 3   estado_casa       1008 non-null   object
 4   departamento      1008 non-null   object
 5   ubicacion         1008 non-null   object
 6   nro_habitaciones  1008 non-null   object
 7   nro_baño          1008 non-null   object
 8   m2_terreno        1008 non-null   object
 9   nro_plantas       1008 non-null   object
 10  m2_edificados     1008 non-null   object
 11  nro_garajes       1008 non-null   object
 12  precio_venta      1008 non-null   object
 13  antiguedad        676 non-null    float64
dtypes: float64(1), int64(1), object(12)
memory usage: 110.4+ KB

In [16]:
#Verficamos la variable nro_habitaciones
df5.groupby(['nro_habitaciones'])['nro_habitaciones'].count()

nro_habitaciones
1                 4
2                53
3               485
4               277
5               173
None             11
¡Preguntale!      5
Name: nro_habitaciones, dtype: int64

In [17]:
#Limpiamos los valores que no son numeros y lo convertimo a tipo float
df6 = df5.copy()
df6['nro_habitaciones']=df6['nro_habitaciones'].replace({"None": 'NaN',"¡Preguntale!":'NaN'})
df6['nro_habitaciones']=df6['nro_habitaciones'].str.strip()
df6["nro_habitaciones"]=df6["nro_habitaciones"].astype("float")
df6.groupby(['nro_habitaciones'])['nro_habitaciones'].count()

nro_habitaciones
1.0      4
2.0     53
3.0    485
4.0    277
5.0    173
Name: nro_habitaciones, dtype: int64

In [18]:
#Verificamos la variable nro_baños
df6.groupby(['nro_baño'])['nro_baño'].count()

nro_baño
1     77
2    217
3    709
4      4
8      1
Name: nro_baño, dtype: int64

In [19]:
#Convertimos la variable en un tipo int
df7=df6.copy()
df7['nro_baño']=df7['nro_baño'].str.strip()
df7["nro_baño"]=df7["nro_baño"].astype("int64")
df7.groupby(['nro_baño'])['nro_baño'].count()

nro_baño
1     77
2    217
3    709
4      4
8      1
Name: nro_baño, dtype: int64

In [20]:
#Verificamos la variable m2_terreno
df7.groupby(['m2_terreno'])['m2_terreno'].count()

m2_terreno
1.000 m2        5
1.031 m2        1
1.038 m2        2
1.040 m2        1
1.043 m2        1
               ..
970 m2          1
978 m2          1
988 m2          1
998 m2          1
¡Preguntale!    3
Name: m2_terreno, Length: 393, dtype: int64

In [21]:
#Limpiamos la variable por contener elementos que no son utiles en esta
#Y lo pasamos a tipo float
df8 = df7.copy()
df8['m2_terreno']=df8['m2_terreno'].str.replace('m2','')
df8['m2_terreno']=df8['m2_terreno'].str.replace('.','',regex=True)
df8['m2_terreno']=df8['m2_terreno'].str.strip()
df8['m2_terreno']=df8['m2_terreno'].replace({"¡Preguntale!":'NaN'})
df8["m2_terreno"]=df8["m2_terreno"].astype("float")
df8.groupby(['m2_terreno'])['m2_terreno'].count()

m2_terreno
2.0         1
15.0        2
32.0        1
41.0        1
42.0        1
           ..
42660.0     1
43115.0     1
100020.0    1
165410.0    1
292500.0    1
Name: m2_terreno, Length: 392, dtype: int64

In [22]:
#Analizamos la variable cantidad de plantas
df8.groupby(['nro_plantas'])['nro_plantas'].count()

nro_plantas
1               411
2               466
3                86
¡Preguntale!     45
Name: nro_plantas, dtype: int64

In [23]:
#Los valores no utiles a la variable se los pasa a NaN
#Convertimos la variable en tipo float
df9=df8.copy()
df9['nro_plantas']=df9['nro_plantas'].replace({"¡Preguntale!":'NaN'})
df9['nro_plantas']=df9['nro_plantas'].str.strip()
df9["nro_plantas"]=df9["nro_plantas"].astype("float")
df9.groupby(['nro_plantas'])['nro_plantas'].count()

nro_plantas
1.0    411
2.0    466
3.0     86
Name: nro_plantas, dtype: int64

In [24]:
#Verificamos la variable m2_edificados
df9.groupby(['m2_edificados'])['m2_edificados'].count()

m2_edificados
1 m2            1
1.000 m2        1
1.043 m2        1
1.050 m2        1
1.140 m2        1
               ..
938 m2          1
94 m2           2
95 m2           9
98 m2           3
¡Preguntale!    6
Name: m2_edificados, Length: 365, dtype: int64

In [25]:
#Limpiamos la variable m2_edificados
df10 = df9.copy()
df10['m2_edificados']=df10['m2_edificados'].str.replace('m2','')
df10['m2_edificados']=df10['m2_edificados'].str.replace('.','',regex=True)
df10['m2_edificados']=df10['m2_edificados'].str.strip()
df10['m2_edificados']=df10['m2_edificados'].replace({"¡Preguntale!":'NaN'})
df10["m2_edificados"]=df10["m2_edificados"].astype("float")
df10.groupby(['m2_edificados'])['m2_edificados'].count()

m2_edificados
1.0         1
10.0        3
17.0        1
20.0        1
41.0        1
           ..
24363.0     1
26186.0     1
34740.0     1
178870.0    1
309500.0    1
Name: m2_edificados, Length: 364, dtype: int64

In [26]:
#Verificamos la variable nro_garajes
df10.groupby(['nro_garajes'])['nro_garajes'].count()

nro_garajes
1               174
2               479
3               290
4                 1
8                 1
¡Preguntale!     63
Name: nro_garajes, dtype: int64

In [27]:
#Realizamos la limpieza de la variable
df11=df10.copy()
df11['nro_garajes']=df11['nro_garajes'].replace({"¡Preguntale!":'NaN'})
df11['nro_garajes']=df11['nro_garajes'].str.strip()
df11["nro_garajes"]=df11["nro_garajes"].astype("float")
df11.groupby(['nro_garajes'])['nro_garajes'].count()

nro_garajes
1.0    174
2.0    479
3.0    290
4.0      1
8.0      1
Name: nro_garajes, dtype: int64

In [28]:
#Verificamos la variable precio
df11.groupby(['precio_venta'])['precio_venta'].count()

precio_venta
Consultar        8
U$S 1.000        2
U$S 1.050.000    2
U$S 1.150.000    1
U$S 1.200.000    4
                ..
U$S 99.000       2
U$S 99.700       1
U$S 990.000      1
U$S 995.000      1
€ 157.000        1
Name: precio_venta, Length: 347, dtype: int64

In [29]:
#Al haber a primera vista dos tipos de monedas, se crea una funcion para determinar si existen mas
df12 = df11.copy()
monedas =[]
cadenas2= df12['precio_venta'].str.split(" ")
for i in range((len(cadenas2))):
    monedas.append(cadenas2[i][0])
df12.insert(12, "moneda",value=monedas , allow_duplicates=False)
df12.groupby(['moneda'])['moneda'].count()

moneda
Consultar      8
U$S          999
€              1
Name: moneda, dtype: int64

In [48]:
#Al confirmarse que solo hay un caso de moneda en euro, se hace solamente un cambio especifico a este
#Limpiamos los valores "Consultar" con NaN
df13=df11.copy()
df13['precio_venta']=df13['precio_venta'].replace({"€ 157.000":'U$S 168.389',"Consultar":'NaN'})
df13.groupby(['precio_venta'])['precio_venta'].count()

precio_venta
NaN              8
U$S 1.000        2
U$S 1.050.000    2
U$S 1.150.000    1
U$S 1.200.000    4
                ..
U$S 980.000      2
U$S 99.000       2
U$S 99.700       1
U$S 990.000      1
U$S 995.000      1
Name: precio_venta, Length: 347, dtype: int64

In [55]:
#Limpiamos los caracteres del tipo moneda y quitamos el punto decimal
#Cambiamos la variable a tipo float
df14 = df13.copy()
df14['precio_venta']=df14['precio_venta'].str.replace('U\$S','',regex=True)
df14['precio_venta']=df14['precio_venta'].str.replace('.','',regex=True)
df14['precio_venta']=df14['precio_venta'].str.strip()
#df14 = df14[~(df14.precio_venta.str.contains("NaN"))]
df14["precio_venta"]=df14["precio_venta"].astype("float")
df14.groupby(['precio_venta'])['precio_venta'].count()

precio_venta
145.0          1
500.0          1
1000.0         2
13000.0        1
15500.0        1
              ..
2290000.0      1
2500000.0      1
2550000.0      1
4000000.0      1
123456789.0    1
Name: precio_venta, Length: 346, dtype: int64

In [54]:
df14.reset_index(drop=True, inplace=True)
df14.to_csv('clean_house.csv',index=False)