# Exploración

In [8]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [79]:
data_brute = pd.read_csv("C:/Users/win10 uefi/Documents/Proyecto_PrediccionCasas/scraping_casas.csv",sep=";")
data_brute

,referencia,titulo_anuncio,estado_casa,ubicacion,año_construccion,nro_habitaciones,nro_baño,m2_terreno,nro_plantas,m2_edificados,nro_garajes,precio_venta
0,E457CA,En venta casa de Lujo en Las Palmas,Excelente estado,"Las Palmas, Las palmas, Santa Cruz",¡Preguntale!,4,3,600 m2,1,650 m2,2,U$S 850.000
1,Q67923,CASA EN VENTA EN LAS PALMAS,Excelente estado,ENTRE 3ER Y 4TO ANILLO C/ BAHIA CACERES Y CAPA...,¡Preguntale!,4,3,726 m2,1,¡Preguntale!,2,U$S 685.000
2,WC49A9,"CASA EN VENTA, IRPAVI",Buen estado,"CALLE 18 Y OVANDO, Irpavi, La Paz",¡Preguntale!,3,3,643 m2,1,643 m2,3,U$S 449.000
3,Z7FD7E,Casa en venta sobre Av. Canal Isuto,Excelente estado,"sobre Av. Canal Isuto entre 4to y 5to anillo, ...",¡Preguntale!,5,2,194 m2,1,194 m2,¡Preguntale!,U$S 139.000
4,OF956B,"casa a estrenar, 4 dormitorios, Condominio Los...",A estrenar,"condominio Los parques 3, Urubó, Santa Cruz",¡Preguntale!,4,3,158 m2,2,158 m2,1,U$S 149.000
...,...,...,...,...,...,...,...,...,...,...,...,...
1044,"1,70E+59","Urbanización San Jorge, haz tu reserva ya con ...",A estrenar,avenida G-77 y Beni a la altura del noveno ani...,2018,3,2,258 m2,1,110 m2,2,U$S 67.500
1045,50F5F,Casa No. 35 En Venta Condominio Dalí El Remans...,Buen estado,Ingreso por el Remanso . Condominio Los Pintor...,2012,3,3,250 m2,1,150 m2,2,U$S 115.000
1046,A69AD,"Casa Condominio Dalí, 3 dorm.,a/c, área social...",Excelente estado,"casa nro 35 Condominio Dalí. cel *** , Remanso...",2014,3,3,250 m2,1,150 m2,2,U$S 115.000
1047,7BC18,Casa equipada,Excelente estado,"Sur, Santa Cruz",¡Preguntale!,4,3,300 m2,1,165 m2,¡Preguntale!,U$S 108.000
1048,cE423,Casa zona URUBO trejo 1.100 Mts2 135.000 $us.,Buen estado,"Urubó, Santa Cruz",¡Preguntale!,3,2,1.100 m2,¡Preguntale!,300 m2,¡Preguntale!,U$S 135.000

In [80]:
#Datos no nulos
data_brute.info()

print()#Valores unicos
data_brute.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   referencia        1049 non-null   object
 1   titulo_anuncio    1049 non-null   object
 2   estado_casa       1049 non-null   object
 3   ubicacion         1049 non-null   object
 4   año_construccion  1049 non-null   object
 5   nro_habitaciones  1049 non-null   object
 6   nro_baño          1049 non-null   object
 7   m2_terreno        1049 non-null   object
 8   nro_plantas       1049 non-null   object
 9   m2_edificados     1049 non-null   object
 10  nro_garajes       1049 non-null   object
 11  precio_venta      1049 non-null   object
dtypes: object(12)
memory usage: 98.5+ KB

,referencia,titulo_anuncio,estado_casa,ubicacion,año_construccion,nro_habitaciones,nro_baño,m2_terreno,nro_plantas,m2_edificados,nro_garajes,precio_venta
count,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049
unique,1009,961,9,831,58,7,6,394,5,366,7,348
top,None,CASA EN VENTA,Excelente estado,"Norte, Santa Cruz",¡Preguntale!,3,3,300 m2,2,120 m2,2,U$S 120.000
freq,7,10,423,34,339,505,733,80,482,25,500,22

# Evaluacion de las variables

In [94]:
#Verificamos la variable referencia

referencias = data_brute.groupby(['referencia'])['referencia'].count()
referencias[referencias>0]

referencia
1,70E+59    1
11DDF       1
12FB3       1
14C65       1
152B9       1
           ..
cE423       1
d667D       1
e600B       1
f435C       2
fFA51       1
Name: referencia, Length: 1009, dtype: int64

In [106]:
#Hay datos duplicados y nulos (None)

#Borramos los nulos
df1 = data_brute.copy()
df1 = df1[~df1.referencia.str.startswith("None")]

#Colocando los valores reales
df1.referencia = df1.referencia.replace({"5,9E+93":'59E92'})
df1.referencia = df1.referencia.replace({"4,95E+07":'495E5'})
df1.referencia = df1.referencia.replace({"4,10E+55":'41E54'})
df1.referencia = df1.referencia.replace({"6,40E+28":'64E27'})
df1.referencia = df1.referencia.replace({"9,50E+86":'95E85'})
df1.referencia = df1.referencia.replace({"2,07E+03":'207E1'})
df1.referencia = df1.referencia.replace({"1,70E+59":'17E58'})


#Borramos las filas duplicadas
df1.drop_duplicates(keep='first', inplace=True)
df1 = df1[~(df1.referencia.str.contains("73AC6") & df1.nro_habitaciones.str.startswith("None") )] #Valor unico que necesita removerse de forma manual por tener un campo diferente
df1.describe(include='all')

,referencia,titulo_anuncio,estado_casa,ubicacion,año_construccion,nro_habitaciones,nro_baño,m2_terreno,nro_plantas,m2_edificados,nro_garajes,precio_venta
count,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008
unique,1008,961,8,830,58,7,5,393,4,365,6,347
top,E457CA,CASA EN VENTA,Excelente estado,"Norte, Santa Cruz",¡Preguntale!,3,3,300 m2,2,120 m2,2,U$S 120.000
freq,1,10,410,33,322,485,709,77,466,23,479,22

In [110]:
#Verificamos la variable referencia
estados = df1.groupby(['estado_casa'])['estado_casa'].count()
estados[estados>0]

estado_casa
A estrenar                302
A reciclar                  3
Buen estado               221
En construcción            29
Excelente estado          410
Reciclada                   1
Requiere mantenimiento     19
Sin Definir                23
Name: estado_casa, dtype: int64

In [54]:
titulos = data_brute.groupby(['titulo_anuncio'])['titulo_anuncio'].count()
titulos[titulos>3]

titulo_anuncio
BELLA CASA EN VENTA          4
CASA EN VENTA               10
CASA EN VENTA ZONA NORTE     5
Casa en venta                4
Name: titulo_anuncio, dtype: int64